* {
	font-family: JetBrainsMono Nerd Font, monospace;
	font-weight: 800;
	font-size: 11.5px;
	min-height: 0;
}

@define-color bg #1e1e2e;
@define-color bg2 #181825;
@define-color fg #cdd6f4;
@define-color pink #f5c2e7;
@define-color green #a6e3a1;
@define-color fl #f2cdcd;
@define-color blue #89b4fa;
@define-color red #eba0ac;
@define-color vl #cba6f7;
@define-color yellow #fab387;

window#waybar {
    border-radius: 20px;
	background-color: rgba(30, 30, 46, 0);
}

#workspaces {
	padding: 2px 5px;
	margin: 3px;
	color: @fg;
	background-color: @bg2;
	border: none;
	border-radius: 20px;
}

button {
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 0;
}
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px transparent;
}
#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: @gf;
}

#workspaces button:hover {
	color: @blue;
}
#workspaces button.urgent, 
#wireplumber.muted {
	color: @red;
}

#workspaces button.active,
#custom-notification:hover,
#wireplumber:hover,
#custom-waypaper:hover {
	color: @yellow;
}

#window,
#pulseaudio,
#custom-prayerTimings,
#custom-weather,
#custom-media,
#custom-waypaper,
#wireplumber,
#clock,
#battery,
#tray,
#custom-notification,
#custom-wlogout {
    padding: 2px 10px;
	margin: 4px;
	color: @fg;
	background-color: @bg2;
	border: none;
	border-radius: 20px;
}

